p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: rgb(33, 35, 43);
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Hind", sans-serif;
}

body {
  /*background-color: #fafafa;*/
  background-color: #F5F8FB;
  font-size: 18px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgb(244, 247, 249);
  overflow-x: hidden;
  width: auto;
}

.app_body {

  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;

  transition-property: all;
  transition-duration: 0.5s;
}

.app_thin {
  margin-left: 250px;
}

a {
    text-decoration: none;
    color: rgb(65, 74, 155);
    margin: 0;
}

*::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: rgb(206, 206, 206); /* color of the tracking area */
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(29, 29, 29); /* color of the scroll thumb */
  border-radius: 1px; /* roundness of the scroll thumb */
  border: 0px solid black; /* creates padding around scroll thumb */
}


select {
  border: 0px solid rgb(206, 206, 206);
  border-radius: 0.2rem;
  padding: 0.3rem 1rem 0.1rem 0.5rem;
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

select:hover {
  background-color: rgb(250, 250, 250);
}


option {
  font-family: "Hind", sans-serif;
  font-weight: 500;
  padding: 1rem;
}

input {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-family: "Hind";
  font-weight: 500;
  font-size: 1rem;

  transition-property: all;
  transition-duration: 0.3s;
}

input:hover {
  background-color: rgb(248, 248, 248);
}

table {
  font-family: 'Hind', sans-serif;
  font-size: larger;
  border: 0px;
  border-spacing: 0;

}

tr:hover {
  background-color: rgb(246, 251, 253);
  
  transition-property: all;
  transition-duration: 0.1s;
}

td {
  padding: 0.4rem 0.4rem 0.2rem 0.4rem;
  border: none;
  border-bottom: 1px solid rgb(201, 201, 201);
}

th {
  background-color: #0E83CD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: medium;
  color: white;
  padding: 0.3rem 2rem 0.3rem 2rem;

}

.handle {
  cursor: pointer;
}

.div-space {
  margin: 0.5rem 0.7rem 0.8rem 0.7rem;
}


.ken-btn {
  background-color: #0E83CD;
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 500;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;

  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  cursor:pointer;
}

.ken-btn:hover {
  background-color: white;
  color: #0E83CD;
} 