.header {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  
  .neu_border {
    display: flex;
    padding: 0 0.3rem 1rem 0.3rem;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background: #fafafa;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 10px 10px 10px #d5d5d5, -20px -20px 30px #fafafa;
    max-height: 90vh;
  }
  
  .card_scroll {
    box-sizing: border-box;
    
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.2rem;

    border-radius: 0 0 30px 30px;
    border-top: none;
    
    scroll-snap-points-x: repeat(20px);
    scroll-snap-type: y proximity;

  }
  
  .card_scroll::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }
  .card_scroll::-webkit-scrollbar-track {
    background: rgb(206, 206, 206); /* color of the tracking area */
    margin: 0 0.2rem 3rem 0;
    border-radius: 20px;
  }
  .card_scroll::-webkit-scrollbar-thumb {
    background-color: grey !important; /* color of the scroll thumb */
    border-radius: 20px !important; /* roundness of the scroll thumb */
    border: 0px solid black; /* creates padding around scroll thumb */
  }

  